

.App {
  background-color: #feae5e;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  height: 100vh;
}

.orange {
  background-color: #feae5e;
}



.pink-nav{
  background-color: #e8476d;
}

.logo {
  height:50px;
  width:50px;
  display:inline-block;
}
.retro-text {
  font-family: 'Ranchers', cursive;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
.logo-text{

  font-size:50px;
  letter-spacing: 4px;
  
}

.hero-text{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-family: 'Mooli', sans-serif;
  font-family: 'Ranchers', cursive;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  letter-spacing: 2px;

}

.nav-link{
  font-family: 'Montserrat', cursive;
  font-family: 'Mooli', sans-serif;
  font-size:16px;
  font-weight:700;
}

.nav-link:hover{
  color:white;;
  background-color: #942943;
}

.large-font{
  font-size:50px;
}

.hero-image{
  background-image: url(../src/Images/hero-drink.jpeg);
  background-size:cover;
  background-position:center;
  height:400px;
}

.search-bar{
  width:70%;
}

.top-margin{
  margin-top:50px;
}

.btn-primary {
  color:#f3692f;
}

.orange-btn{
  background-color:#f3692f;
  border: 1px solid #f3692f ;
  color:white;
  
}

.orange-btn:hover{
  background-color:#AB4920;
  border:1px solid #AB4920;
}


.blue-btn{
  background-color:#3FB2A5;
  border: 1px solid #3FB2A5;
  color:white;
  
}

.blue-btn:hover{
  background-color:#2B756C;
  border: 1px solid #2B756C; 
}

.not-rounded{
  border-radius:0px;
}

.orange-footer{
    background-color: #f59126;
}

.dark-orange-footer{
  background-color:#f3692f;
}

.footer-header{
  color:white;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-family: 'Mooli', sans-serif;
  text-align:center;
  text-shadow: -1px -1px 0 #f3692f, 1px -1px 0 #f3692f, -1px 1px 0 #f3692f, 1px 1px 0 #f3692f;
}

.white-text{
  color:white;
}

.footer-logo{
  font-family: 'Ranchers', cursive;
  font-size:30px;
  text-shadow: -1px -1px 0 #e8476d, 1px -1px 0 #e8476d, -1px 1px 0 #e8476d, 1px 1px 0 #e8476d;
}

/*
.blur {
  height:300px;
  width:100%;
  background: rgba(255, 255, 255, 0.02);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(3px);
}*/



.pink{
  background-color:#FECCDB;
}

.card-title{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-family: 'Mooli', sans-serif;
  font-size: 1.5rem;
}

/*
.card-ingredients{
  font-size:14px;
}*/

.card-ingredients, .sub-header{
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-family: 'Mooli', sans-serif;
}

.card-ingredients{
  margin-top: -10px;
  margin-left:10px;
  margin-right:10px;
}

.card-instructions{
  margin-left:10px;
  margin-right:10px;
  font-size:0.9rem;
}

.card-instructions-header{
  font-family: 'Mooli', sans-serif;
}

 .card-ingredients-body{
  height:100px;
  width:100%;
  overflow-y:scroll;
 }

.card-image{
 border-radius: 100%;
 height:auto;
 width: 50%;
 display:block;
 margin:auto;
}

.card-heading{
  color:#e8476d;
  font-family: 'Mooli', sans-serif;
  margin-left:10px;
  
}

/*x overflow for long text*/

.add-btn{
    background-color:#942943;
    border: 1px solid #942943 ;
    color:white;
    width:40%;
    display:block;
    margin:auto;
    padding:10px;
}

.add-btn:hover, .recipe-btn:hover{
  background-color: #3d111c;
 border: 1px solid #3d111c;
}

.body-banner{
  font-family: 'Ranchers', cursive;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  font-size:60px;
}

.ingredients{
  margin-top: -5px;
}

.half-background{
  background-image: url(../src/Images/form-drink.jpeg);
  background-size:cover;
  background-position:center;
  border-radius: 1em 0 0 1em;
}

.white-bg{
  background-color:#FECCDB;
 border-radius: 1em 1em 1em 1em;
 -webkit-box-shadow: 7px 22px 32px -8px rgba(0,0,0,0.75);
 -moz-box-shadow: 7px 22px 32px -8px rgba(0,0,0,0.75);
 box-shadow: 7px 22px 32px -8px rgba(0,0,0,0.75);
}
.form-header {
  font-family: 'Ranchers', cursive;
  font-size:36px;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.card {
  border-radius: 1em 1em 1em 1em;
  background-color: #e8476d ;
  border: #FECCDB;
}
.card-flip > div {
  backface-visibility: hidden;
  transition: transform 300ms;
  transition-timing-function: linear;
  width: 100%;
  height: 550px;
  margin: 0;
  display: flex;
  background-color:#FECCDB;

  -webkit-box-shadow: 7px 22px 32px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 22px 32px -8px rgba(0,0,0,0.75);
  box-shadow: 7px 22px 32px -8px rgba(0,0,0,0.75);
  border-radius: 1em 1em 1em 1em;

}

.card-front {
  transform: rotateY(0deg);
  background-color:#FECCDB;
}

.card-back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
}

.card-flip:hover .card-front {
  transform: rotateY(-180deg);
}
  
.card-flip:hover .card-back {
  transform: rotateY(0deg);
  background-color: #e8476d ;
}

.recipe-card{
  -webkit-box-shadow: 7px 22px 32px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 22px 32px -8px rgba(0,0,0,0.75);
  box-shadow: 7px 22px 32px -8px rgba(0,0,0,0.75);
  border-radius: 1em 1em 1em 1em;
  background-color:#FECCDB;
  height:400px;
  }

  .recipe-instructions{
    font-size: 80%;
    margin-top: -10px;
  }

  .centered {
    display:block;
    margin:auto;
  }

  .recipe-heading{
    color:#e8476d ;
    font-size:16px;
  }
  .recipe-title{
    font-size:20px;
    font-family: 'Mooli', sans-serif;
  }

  .recipe-btn {
    background-color:#FECCDB;
      border: 1px solid #e8476d ;
      color:#e8476d;
      border-radius: 50px;
  }

  .recipe-btn:hover{
    background-color:#e8476d;
    border: 1px solid #e8476d ;
    color:white;
  }

  .submit-btn {
    background-color:#FECCDB;
      border: 1px solid #e8476d ;
      color:#e8476d;
      border-radius: 50px;
      width:40px;
      display:block;
      margin:auto;
  }

  .submit-btn:hover {
    background-color:#e8476d;
      border: 1px solid #e8476d ;
  }
  .editing-icon{
    color: #e8476d;;
  }

  .editing-icon:hover{
    color:black;
  }

  .blank-body{
    height:100%;
  }

  .hidden {
    display:none;
  }

  .visibility{
    display:block;
  }

  .homeDiv{
    height:100%;
    background-color: #feae5e;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
  }

 


